.loginsignup {
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginsignup-container {
    width: 400px;
    height: 500px;
    background: whitesmoke;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginsignup-container h1 {
    margin: 20px 0;
    text-align: center;
}

.loginsignup-fields {
    margin-top: 30px;
}

.loginsignup-fields input {
    height: 40px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 16px;
    border-radius: 5px;
}

.loginsignup-container button {
    width: 100%;
    height: 40px;
    color: whitesmoke;
    background: #ff4141;
    margin-top: 20px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.loginsignup-login {
    margin-top: 20px;
    text-align: center;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
}

.loginsignup-agree {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}

.loginsignup-agree input {
    margin-right: 10px;
}

@media(max-width:1280px) {
    .loginsignup{
        padding-top: 50px;
    }
    .loginsignup-container{
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .loginsignup-container h1{
        margin: 10px 0;
    }
    .loginsignup-fields {
        margin-top: 20px;
        gap: 20px;
    }
    .loginsignup-fields input {
        height: 65px;
        width: 93%;
    }
    .loginsignup-container button {
        width: 100%;
    }
    .loginsignup-login {
       font-size: 16px;
    }
    .loginsignup-agree {
        font-size: 14px;
        gap: 10px;
    }
}
@media(max-width:800px) {
    .loginsignup-container{
        padding: 20px 30px;
    }
    .loginsignup-container h1{
       font-size: 24px;
    }
    .loginsignup-fields  {
       margin-top: 20px;
    }
    .loginsignup-fields input {
        height: 50px;
       
    }
    .loginsignup-container button {
        height: 50px;
        font-size: 16px;
    }
}